<html>
<head>
    <title> 🚩DOC2DIAL || Exmaples</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <!-- <link href="{{url_for('static', filename='css/materialize.css')}}" type="text/css" rel="stylesheet"> -->
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//cdn.transifex.com/live.js"></script>
</head>
<body>
<div class="container">
    <p><span style="color: rgb(251, 160, 38);">Orange text:&nbsp;</span><strong><span style="color: rgb(251, 160, 38);">Precondition</span>. &nbsp; &nbsp;</strong><span style="color: rgb(44, 130, 201);">Blue text:&nbsp;</span><strong><span style="color: rgb(44, 130, 201);">Solution</span></strong></p>

<div class="card-panel">
    <p><strong>Example 1: not in immediate proximity</strong></p>

    <p>In some cases, <span style="color: rgb(251, 160, 38);"><strong>if a user changes an IBM serial number or email</strong></span>, they might temporarily lose access to their Box account. <span style="color: rgb(44, 130, 201);"><strong>Refer to <a data-attrib-id="MTU1Njc1NDA4MjI3MC1odHRwczovL3czLmlibS5jb20vaGVscC8jL2FydGljbGUvYm94X3Ryb3VibGVzaG9vdC9ib3hfbG9naW5fZXJyb3I=" href="https://w3.ibm.com/help/#/article/box_troubleshoot/box_login_error" rel="noreferrer nofollow" target="_blank">Login Errors</a> for potential solutions.</strong></span></p>
    
</div>

<div class="card-panel">
    <p><strong>Example 2: having only preconditions (second below)&nbsp;</strong></p>

    <p>This error message appears in <u>two scenarios</u>:</p>
    
    <p>1)<strong><span style="color: rgb(251, 160, 38);">&nbsp;</span><span style="color: rgb(251, 160, 38);">You don't have an account provisioned with Box@IBM</span></strong>. <strong><span style="color: rgb(44, 130, 201);">You must create a Box@IBM account from a computer before gaining access to Box@IBM resources on your mobile device. For account setup instructions, refer to <a data-attrib-id="MTU1Njc1NDM3OTU5NC1odHRwczovL3czLmlibS5jb20vaGVscC8jL2FydGljbGUvdXNlX2JveC9yZWdpc3Rlcg==" href="https://w3.ibm.com/help/#/article/use_box/register" rel="noreferrer nofollow" target="_blank">Use Box@IBM: Register for an Account</a>.</span></strong></p>
    
    <p>2)<strong><span style="color: rgb(251, 160, 38);">&nbsp;</span><span style="color: rgb(251, 160, 38);">You have incorrectly managed-app configurations loaded on your device</span></strong>.</p>

</div>

<div class="card-panel">
    <p><strong>Example 3: multiple solution points</strong></p>

    <p><strong><span style="color: rgb(251, 160, 38);">If you don't have access to the IBM network</span></strong>, <strong><span style="color: rgb(44, 130, 201);">you can reset your w3id password using this external URL</span></strong>.</p>
    
    <p><strong><span style="color: rgb(44, 130, 201);">You can also have the password sent to your mobile device or IBM email</span></strong>. To have the password sent to your mobile device, your mobile number must be in your BluePages profile.&nbsp;</p>

</div>

<div class="card-panel">
    <p><strong>Example 4: having only solutions (TBD)</strong></p>

    <p>problem:&nbsp;Transfer Ownership of Box Folders</p>
    
    <p>When you leave IBM, your Box@IBM account automatically deactivates when your BluePages record goes inactive. Transfer ownership by changing the permission of a collaborator to owner of the shared folder in Box. Setting a collaborator as a co-owner doesn't transfer ownership and results with all collaborators losing access after you leave IBM. Refer to <a data-attrib-id="MTU1Njc1NDgzNDY2Mi1odHRwczovL2NvbW11bml0eS5ib3guY29tL3Q1L0NvbGxhYm9yYXRlLUJ5LUludml0aW5nLU90aGVycy9NYW5hZ2luZy1Db2xsYWJvcmF0b3JzL3RhLXAvMTk4MTIjdHJhbnNmZXJmb2xkZXJvd25lcg==" href="https://community.box.com/t5/Collaborate-By-Inviting-Others/Managing-Collaborators/ta-p/19812#transferfolderowner" rel="noreferrer nofollow" target="_blank">Transfer Folder Ownership</a>for more information.</p>
    
    
    <p><strong>Example 5: nested (TBD) -- the example below can be re-written with non-bullet point format&nbsp;</strong></p>
    
    <p>If you receive other errors when trying to log in to <a data-attrib-id="MTU1Njc1NDczNDAyNy1odHRwczovL2libS5ib3guY29tLw==" href="https://ibm.box.com/" rel="noreferrer nofollow" target="_blank">Box@IBM</a>:</p>
    
    <ol>
      <li>Confirm you're using the correct URL to access Box@IBM: <a data-attrib-id="MTU1Njc1NDczNDAzMC1odHRwczovL2libS5ib3guY29tLw==" href="https://ibm.box.com/" rel="noreferrer nofollow" target="_blank">https://ibm.box.com</a>.</li>
      <li>Clear your browser's cache and cookies. Refer to browser-specific instructions if needed:&nbsp;
    
        <ul>
          <li>Firefoxor Safari: <a data-attrib-id="MTU1Njc1NDczNDAzNS1odHRwczovL3N1cHBvcnQubW96aWxsYS5vcmcva2IvY2xlYXItYnJvd3NpbmctaGlzdG9yeS1hbmQtY29va2llcy1maXJlZm94LW9z" href="https://support.mozilla.org/kb/clear-browsing-history-and-cookies-firefox-os" rel="noreferrer nofollow" target="_blank">Clear browsing history and cookies</a></li>
          <li>Chrome: <a data-attrib-id="MTU1Njc1NDczNDAzNi1odHRwczovL3N1cHBvcnQuZ29vZ2xlLmNvbS9hY2NvdW50cy9hbnN3ZXIvMzIwNTA/Y289R0VOSUUuUGxhdGZvcm0lM0REZXNrdG9wJmhsPWVu" href="https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DDesktop&hl=en" rel="noreferrer nofollow" target="_blank">Clear cache and cookies</a></li>
          <li>Safari on iOS: <a data-attrib-id="MTU1Njc1NDc3ODQzMi1odHRwczovL3N1cHBvcnQuYXBwbGUuY29tL0hUMjAxMjY1" href="https://support.apple.com/HT201265" rel="noreferrer nofollow" target="_blank">Clear the history and cookies from Safari on your iPhone, iPad, or iPod touch</a></li>
        </ul>
      </li>
    </ol>
</div>

</div>
</body>

</html>
